.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0px;
}

.form-label {
 font-weight: 600;
}

.form-control {
  margin-left: 10px;
}

.form-control > input,
.form-control > select {
  box-sizing: border-box;

  min-width: 200px;
  height: 26px;
  border-radius: 5px;

  border: 1px solid var(--color-primary);
  outline-color: var(--color-primary);
}

.form-control > input:focus {
  outline-color: var(--color-primary);
}
